<div class="container">

  <div class="row">

    <div class="jumbotron">
      <p>Aplicativo que tem a intenção de organizar filas de atendimento.</p>
      <p>Aplicativo pode ser usado em padarias , salões de beleza entre outros.</p>
      <p>  </p>
      <p>  </p>
      <p>  </p>
    </div>

    <div class="container">

     <div class="alert alert-info">
      <a href="/estabelecimentocadastrar" class="btn btn-xs btn-primary pull-right"> Novo Estabelecimento </a>

         <a href="/login" class="btn btn-xs btn-primary pull-right"> Login Estabelecimento </a>
          <strong> Abrir Fila : </strong> Empresa ou Pessoa que deseja abrir uma fila atendimento
      </div>

      <div class="alert alert-warning">
          <a href="/atendimento" class="btn btn-xs btn-warning pull-right"> Entrar Fila </a>
          <strong> Entrar Fila :</strong> Pessoa que deseja entrar na fila de atendimento.

          <a href="#" class="btn btn-xs btn-warning pull-right"> Pesquisar </a>

      </div>

    </div>
  </div>

</div>
